@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@1,100;1,200;1,400&display=swap");

:root {
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Anton", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: var(--primary-font);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-basis: 100%;
}

h1,
h2,
h3,
ul,
li,
p,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
